.container18 {
  @extend .box;
  align-items: flex-start;
  display: flex;
}

.container19 {
  @extend .box;
  align-items: flex-end;
  display: flex;
}

.container20 {
  @extend .box;
  align-items: center;
  display: flex;
}

.container21 {
  @extend .box;
  align-items: baseline;
  display: flex;
}

.container22 {
  @extend .box;
  align-items: stretch;
  display: flex;
}

.inside1 {
  background-color: $color6;
  border: 1px solid $color1;
  margin: 5px;
  min-height: 70px;
  width: 60px;

  span {
    color: $color1;
    font-size: $font-size-13px;
  }
}

.inside2 {
  background-color: $color6;
  border: 1px solid $color1;
  margin: 5px;
  min-height: 70px;
  width: 60px;

  span {
    color: $color1;
    font-size: $font-size-18px;
  }
}

.inside3 {
  background-color: $color6;
  border: 1px solid $color1;
  margin: 5px;
  min-height: 70px;
  width: 60px;

  span {
    color: $color1;
    font-size: $font-size-15px;
  }
}

.inside4 {
  background-color: $color6;
  border: 1px solid $color1;
  margin: 5px;
  min-height: 70px;
  width: 60px;

  span {
    color: $color1;
    font-size: $font-size-22px;
  }
}
