.container13 {
  @extend .box;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.container14 {
  @extend .box;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.container15 {
  @extend .box;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container16 {
  @extend .box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container17 {
  @extend .box;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
