@import url(https://fonts.googleapis.com/css?family=Open+Sans);

@import '../node_modules/font-awesome/scss/font-awesome.scss';
@import '../node_modules/bootstrap-sass/assets/stylesheets/bootstrap.scss';

$font-family: 'Open Sans', sans-serif;

$base-font-size: 10px;
$font-size-13px: 1.3rem;
$font-size-15px: 1.5rem;
$font-size-18px: 1.8rem;
$font-size-22px: 2.2rem;
$font-size-30px: 3rem;
$font-size-60px: 6rem;

$color1: #f0f0e7;
$color2: #f0e8bd;
$color3: #f74f5b;
$color4: #a12c41;
$color5: #7a7268;
$color6: #90b886;

body {
  background-color: $color1;
  font-family: $font-family;
  font-size: $base-font-size;
}

header {
  background-color: $color3;
  height: 100px;

  .title {
    bottom: 5px;
    color: $color4;
    font-size: $font-size-60px;
    left: 10px;
    margin: 0;
    padding: 0;
    position: absolute;
    text-shadow: 1px 1px $color1;
  }

  .author {
    bottom: 5px;
    color: $color4;
    font-size: $font-size-13px;
    margin: 0;
    padding: 0;
    position: absolute;
    text-shadow: 1px 0 2px $color1;
  }
}

.menu-list {

  .back-button {
    padding: 5px 0 0 0;
  }

  ul {
    align-items: center; //flex-start | flex-end | center | baseline | stretch
    display: flex;
    flex-direction: column; //column | row
    font-size: $font-size-15px;
    justify-content: center; //flex-start | flex-end | center | space-between | space-around
    list-style: none;
    padding: 0;

    li {
      background-color: $color2;
      height: 40px;
      margin-top: 10px;
      padding: 0;
      width: 80%;

      &:hover {
        background-color: $color6;

      }
    }
  }
}

li {
  a {
    color: $color5;
    height: 100%;
    margin: 0;
    padding: 0;
    padding-top: 8px;
    text-decoration: none;
    width: 100%;

    &:hover {
      text-decoration: none;
    }
  }
}

.box {
  height: 260px;
  width: 100%;
}

.element {
  background-color: $color6;
  border: 1px solid $color1;
  height: 60px;
  margin: 5px;
  width: 60px;

  span {
    color: $color1;
    font-size: $font-size-22px;
    left: 38%;
    position: relative;
    top: 28%;
  }
}

.container-box {
  background-color: $color2;
  border: 1px solid $color5;
  margin: 10px 0 0 0;

  .container-text {
    @extend .text-center;
  }

  .container-title {
    color: $color5;
    font-size: $font-size-22px;
    text-transform: capitalize;
  }
}

.btn-back {
  @extend .btn-default;
}

@import 'scss/basic';
@import 'scss/flex-direction';
@import 'scss/flex-flow';
@import 'scss/flex-wrap';
@import 'scss/justify-content';
@import 'scss/align-items';
